$font: "RobotoCondensed";
$main-fonts: $font, Arial, Helvetica, sans-serif;

$main-color: #000000;
$light-color: #2f71e5;
$second-ligth-color: #d1d2d6;

$card-bg: #fff;

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}
